#playing-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  display: flex;
  justify-content: space-between;
  width: 100px;
  height: 150px;
  border: 1px solid black;
  padding: 10px;
  box-sizing: border-box;
}

.left {
  align-self: flex-start;
}

.middle {
  align-self: center;
  display: flex;
  flex-direction: column;
}

.right {
  align-self: flex-end;
}
